#resumeBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#resumeEmailDivision {
  text-align: right;
  background: lightgray;
  border: 5px solid rgb(39, 15, 15);
  border-radius: 2vh;
}
#resumeNameHeadline {
  font-size: 4vh;
}
#eduQuali {
  border: 1px solid black;
}
.Head {
  border: 1px solid black;
}
.body {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.bodybottom {
  border-bottom: 3px solid black;
  padding: 1vh;
}

table thead tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
table tbody tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#eduTable {
  width: 100%;
}
#bottomdivision {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Heading {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}
.location {
  text-align: right;
}
.time {
  text-align: right;
}
#leftdivision {
  font-weight: bold;
  font-size: 50px;
  text-decoration: underline;
}

.subheading {
  font-size: 20px;
}
#rightdivision {
  font-weight: bold;
  font-size: 50px;
  text-decoration: underline;
}
#RelatedContent {
  font-weight: bold;
  font-size: 30px;
}
#Related {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vl {
  border-left: 2px solid black;
  height: 500px;
}
#skills {
  font-weight: bold;
  font-size: 50px;
  text-decoration: underline;
}
