#resumeBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#resumeNameDivision {
  padding: 1em;
  padding-left: 2em;
}
#resumeEmailDivision {
  text-align: right;
  padding: 1em;
  padding-right: 2em;
}
#resumeNameHeadline {
  font-weight: bold;
  font-size: 30px;
}

#eduTable {
  border: 1px solid black;
  text-align: center;
}

#eduQuali {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}
.Head {
  border: 1px solid black;
}
.body {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.bodybottom {
  border-bottom: 4px solid black;
  padding: 1vh;
}

table thead tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
table tbody tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#eduTable {
  width: 100%;
}
#bottomdivision {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Heading {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  /* padding: 1em; */
}
.subheading {
  font-size: 20px;
  /* padding: 1em; */
}
.location {
  text-align: right;
}
.time {
  text-align: right;
}
#leftdivision {
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 0.3em;
  padding-left: 3em;
}

#rightdivision {
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  padding-left: 1em;
  padding-left: 3em;
}
#RelatedContent {
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
}
#Related {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#skills {
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 0.3em;
  margin-top: 0.2em;
}

#Intern {
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 0.3em;
}
#Rel {
  padding-left: 6em;
  padding-right: 6em;
}
.BorderToPOR {
  border-style: groove;
  border-radius: 10px;
  margin-bottom: 00.2em;
}
